<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
</head>
<body>
  <table>
  {{#each list as |listItem|}}
    <tr>
      <td>
        <div class="title">Пицца "{{listItem.name}}"</div>
        <div class="includes">
          ({{#each listItem.includes}}{{this}}{{#unless @last}}, {{/unless}}{{/each}})
        </div>
      </td>
      <td>{{listItem.weight}} гр</td>
      <td>{{listItem.price}}₽</td>
    </tr>
  {{/each}}
  </table>
</body>
</html>
